<app-menu-principal2>
</app-menu-principal2>
<body [ngStyle]="{'background-color': '#B3D1A3'}">
    <br>
    <br>
    Soy un alumno de la UTN que le gusta programar
    <br>
    pero sobre todo los algoritmos y los codingchallenges
    <br>
    <a href="https://www.hackerearth.com/@ignacio.monllor">Perfil HackerEarth</a>
    <br>
    <a href="https://www.hackerrank.com/nachomonllor">Perfil HackerRank</a>
    <br>
    <a href="https://app.codesignal.com/profile/nacho_monllor">Perfil Codefigths</a>
    <br>
    <a href="https://www.codewars.com/users/nachoMonllor">Perfil Codewars</a>
    <br>
    <a href="https://omegaup.com/profile/">Perfil OmegaUp</a>


</body>
