<app-menu-principal2>
</app-menu-principal2>
<body [ngStyle]="{'background-color': '#B3D1A3'}">
    <br>
    <br>
    <div style="text-align: center" class = "texto_cabecera">
        Piedra, papel o tijera
        <br>
        Escoge una de las imagenes
        <br>
    </div>
    <div style="text-align: center">
    
        <button mat-button (click)="clickPapel()">
            <img src="../../assets/papel.jpg"   height="100" width="100">
        </button>

        <button mat-button (click)="clickPiedra()">
            <img src="../../assets/piedra.jpg"   height="100" width="100">
        </button>

        <button mat-button (click)="clickTijera()">
            <img src="../../assets/tijera.jpg"   height="100" width="100">
        </button>
        
    </div>
    <br>
    <div style="text-align: center" class = "texto">
        Resultado parcial: {{resultadoParcial}}
        <br>
        Puntos humano :{{ puntajeHumano}}
        <br>
        Puntos compu: {{puntajeCompu}} 
        <br>
        {{resultadoFinal}}
    </div>

</body>
