<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<div class="topnav" id="myTopnav">
  
    <div class="subnav">
            <div class="subnav-content"><a href="#">Juegos</a>
                <i class="fa fa-caret-down"></i></div>
            <div class="subnav-content">
                <a [routerLink]="['/anagrama'] " >Anagrama</a>
                
                <a [routerLink]="['/agilidadaritmetica'] ">Agilidad Aritmetica</a>
                
                <a [routerLink]="['/piedrapapeltijera']">Piedra papel tijera</a>
                
                <a [routerLink]="['/primos']">Encontrar primos</a>
            </div>
    </div>
    <!--
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
    -->
</div>

    




<div style="padding-left:16px">
  <h2>Responsive Topnav Example</h2>
  <p>Resize the browser window to see how it works.</p>
</div>



</body>
</html>
