<form action="/action_page.php">
    <div class="form-group">
      <label for="email">Nombre:</label>
      <input type="text" class="form-control" id="email" name="nombre" [(ngModel)]="jugador.nombre">
    </div>
    <div class="form-group">
      <label for="pwd">Usuario:</label>
      <input type="text" class="form-control" id="pwd" name="usuario" [(ngModel)]="jugador.usuario">
    </div>

    <div class="form-group">
            <label for="pwd">Contraseña:</label>
            <input type="password" class="form-control" name="contrasenia" id="pwd" [(ngModel)]="jugador.contras">
          </div>
  



    <button type="submit" class="btn btn-primary" (click)="agregar()">Registrar</button>
  </form>
