<app-menu-principal2>

</app-menu-principal2>

<body style="background-color:#B3D1A3;">

   

    <br>
    <br>
    <div style="text-align: center" class = "texto_cabecera">
        Completa la expresión
    </div>
    <br>
    <div style="text-align: center">
        <button mat-button color="primary" class ="botonUsuario" disabled>
            {{num1}}
        </button>
        <button mat-button color="primary" class ="botonUsuario"  disabled>
            {{operadorSeleccionado}}
        </button>
        <button mat-button color="primary" class ="botonUsuario" disabled>
            {{num2}}
        </button>
        <br>
        <input type = "text" name= "resUsuario" class ="texto" [(ngModel)] ="resUsuario"/>
        <br>
        <button mat-raised-button  class ="otroBoton" (click)= "comparar()" >
            Enviar
        </button>
        <br>
        <button mat-raised-button  class ="otroBoton" (click)= "finalizar()" >
            Finalizar
        </button>
        <br>
        <button mat-raised-button  class ="otroBoton" (click)= "comenzar()" >
            Comenzar
        </button>
        
        <div style="text-align: center" class = "texto">
            {{comparacion}}
            <br>    
            Tiempo: {{reloj}} - Nivel: {{nivel}}
            <br>
            Puntos: {{puntos}}
            <br>
        </div>
        
        <!--{{res}} -->
    </div>

</body>
