.botonUsuario {
    height: 5rem;
    margin: 0.5rem;
    font-size: 3rem;
    color:#3CB371;
    font-style: italic;
}

.otroBoton {
    height: 2rem;
    margin: 0.5rem;
    font-style: italic;
    color: blue;
}

.texto {
    color: green;
    font-style: italic;
    font-size: 20px;
  }