.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  
  table {
    width: 100%;
  }

  .color_verde {
    background-color: green;
    color: #fff;
}

.casilla {
  height: 4rem;
  width:90px;
  margin: 0.1rem;
  font-size: 2rem;
}
.texto_puntos {
  color: green;
  font-style: italic;
  font-size: 20px;
}

.myClass{
  color : red;
  background-color: green;
}

.texto_cabecera {
    color:red;
    font-style: italic;
    font-size: 25px;
  }

  @media screen and (max-width: 800px) {
        
    .casilla {
      height: 2rem;
      width:40px;
      margin: 0.1rem;
      font-size: 1rem;
    }

  }